<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/CSS/chatbot.css">
</head>

<body>

    <div class="containor">
        <div class="nav">
            <label>
             <p>Gemini <img src="../public/IMG/ai-technology.png" alt=""></p>
            </label>
            <span>
             <a href="#">Try Gemini Advanced</a>   
             <a href="https://chatbot-application-ayyi.onrender.com/about">About</a>
             <button type="button">Try Gemini AI</button>   
            </span>
        </div>

        <div class="box">
            <div class="box1">
                <img src="../public/IMG/google-ai-gemini91216.logowik.com.webp" alt="">
                <span>Supercharge your creativity and productivity</span>
                <p>Chat to start writing, planning, and learning more with Google AI</p>
                <button type="button" id="btn">Try Gemini AI </button>
            </div>
            <div class="box2">
                <span>
                <img src="../public/IMG/futuristic-AI.png" alt="">
                </span>
            </div>
        </div>

        <footer>
            <span>Made by: <h1>Abdul Rashid Chhimpa</h1></span>
            <label><img src="../public/IMG/github.png" alt="git" id="git"></label>
            <label><img src="../public/IMG/linkedin.png" id="linkedln" alt=""></label>
        </footer>
    </div>
    <script src="../public/JS/homePage.js"></script>
</body>

</html>
